:root {
  --default-fonts: 'Overpass', system-ui, sans-serif;
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --color-shade150: 210 8% 95%;
  --color-shade130: 210 8% 84%;
  --color-shade100: 210 1% 64%;
  --color-shade20: 210 4% 16%;
  --color-shade10: 210 4% 10%;
  --color-accent: 162 57% 84%;
  --color-decor: 50 50% 84%;
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass'), url('/fonts/Overpass-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: local('Overpass'), url('/fonts/Overpass-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: local('Overpass'), url('/fonts/Overpass-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 600;
  src: local('Overpass'), url('/fonts/Overpass-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: local('Overpass'), url('/fonts/Overpass-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: local('Overpass'), url('/fonts/Overpass-BoldItalic.woff2') format('woff2');
}

html {
  min-height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  overflow-y: scroll;
  margin: 0;
  font-family: var(--default-fonts);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(var(--color-shade10));
};
