:root {
  --default-fonts: 'Mona Sans', system-ui, sans-serif;
  --mono-fonts: 'Martian Mono', 'Monaco', monospace;
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --color-shade150: 210 8% 95%;
  --color-shade130: 210 8% 84%;
  --color-shade100: 210 1% 64%;
  --color-shade30: 210 4% 24%;
  --color-shade20: 210 4% 16%;
  --color-shade10: 210 4% 10%;
  --color-accent: 162 57% 84%;
  --color-decor: 50 50% 84%;
}

@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Mona Sans'), url('/fonts/mona/Mona-Sans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Mona Sans'), url('/fonts/mona/Mona-Sans-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Mona Sans'), url('/fonts/mona/Mona-Sans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Mona Sans'), url('/fonts/mona/Mona-Sans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Mona Sans'), url('/fonts/mona/Mona-Sans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Mona Sans'), url('/fonts/mona/Mona-Sans-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Martian Mono Std Lt'), url('/fonts/martian/MartianMono-StdLt.woff2') format('woff2');
}

@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: local('Overpass'), url('/fonts/overpass/Overpass-BoldItalic.woff2') format('woff2');
}

html {
  min-height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid: "header" auto
        "main" 1fr
        "footer" auto / 1fr;
  row-gap: 24px;
  min-height: 100vh;
  overflow-y: scroll;
  margin: 0;
  font-family: var(--default-fonts);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(var(--color-shade10));

  @media screen and (min-width: 992px) {
    grid: "header footer" auto
          "main footer" 1fr / 640px 320px;
    justify-content: center;
    column-gap: 64px;
  }
};

.container {
  padding-top: 12px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;

  @media screen and (min-width: 992px) {
    padding-top: 24px;
  }
}
