---
interface Props {
  name?: string;
  tagline?: string;
}

const { name, tagline } = Astro.props as Props;
---
<blockquote class="wrap">
  <slot />
  {!!name && <strong class="byName">{name}</strong>}
  {!!tagline && <div class="tagline">{tagline}</div>}
  <hr class="divider" />
</blockquote>

<style lang="scss">
  .byName {
    display: inline-block;
    margin: 0 0 8px;
    padding-block-start: 16px;
    color: hsl(var(--color-shade130));
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .tagline {
    margin: 0 0 16px;
    color: hsl(var(--color-shade130));
    font-size: 1.4rem;
  }

  .divider {
    display: block;
    width: 80px;
    margin: 0 auto;
    border: 0;
    border-top: 1px solid hsl(var(--color-shade100)/0.5);
  }
</style>
