---
interface Props {
  title: string;
  description: string;
  dateModified: string;
  url: string;
}

const { title, description, dateModified, url } = Astro.props as Props;
---

<li>
  <a class="link" href={url}>
    <h2 class="title">{title}</h2>
    <p class="description">{description}</p>
  </a>
</li>
<style lang="scss">
  .link {
    display: block;
    text-decoration: none;
  }

  .title {
    margin: 0 0 12px;
    color: hsl(var(--color-shade150));
    font-size: 2.4rem;
    line-height: 32px;
  }

  .description {
    font-size: 1.6rem;
  }
</style>
