---
---
<div class="note">
  <slot />
</div>

<style lang="scss">
  .note {
    width: 48%;
    margin-inline: auto 0;
    padding-block: 8px 2px;
    padding-inline: 16px;
    line-height: 1.5;
    background-color: #282A36;
    border-radius: 12px;
  }

  :global(.note strong) {
    display: block;
  }

  :global(.note p) {
    color: hsl(var(--color-shade130));
    font-size: 1.4rem;
  }
</style>
