---
interface Props {
  href: string;
  title?: string;
}

const { href, title } = Astro.props as Props;

function handleClassName() {
  if (href.startsWith('http')) {
    return 'lgspt-external-link';
  }

  if (href.startsWith('#')) {
    return 'lgspt-anchor-link';
  }

  return 'lgspt-link';
};
---

<a class={handleClassName()} href={href}><slot /></a>
