---
import '../style/global.css';
import BaseHead from '../components/BaseHead.astro';
interface Props {
  title: string;
  description: string;
  dateModified: string;
  datePublished: string;
}

const { title, description, dateModified, datePublished } =
  Astro.props as Props;
---

<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <BaseHead {title} {description} {dateModified} {datePublished} />
  </head>
  <body>
    <main class="container">
      <slot />
    </main>
    <style>
      .container {
        padding-inline-start: 16px;
        padding-inline-end: 16px;
      }
    </style>
  </body>
</html>
