---
import '../style/global.scss';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
  dateModified: string;
  datePublished: string;
}

const { title, description, dateModified, datePublished } =
  Astro.props as Props;
---

<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <BaseHead {title} {description} {dateModified} {datePublished} />
  </head>
  <body>
    <Header />
    <main class="container main">
      <slot />
    </main>
    <Footer />
    <style>
      .main {
        grid-area: main;
        min-width: 0;
      }
    </style>
  </body>
</html>
